h3
{
    display: inline-block;
    width: 30%;
    height: 100%;
    padding-left: 20%;
}

h2
{
    display: inline-block;
    width: 10%;
    height: 100%;
}

.input-form
{
    display: block;
    height: 100%;
    margin : 2%
}

textarea
{
    display: block;
    height: 100%;
    margin: 2%;
}

body
{
    padding-top: 2%;
}

button
{
    text-align: center;
    margin-left: 45%;
    margin-bottom: 5%;
    padding: 1%;
}